<div class="row">
    <div class="col">
        <h2>Countries</h2>
    </div>
    <div class="col">
        <button type="button" class="btn btn-info" [routerLink]="['/auth']">Settings</button>
    </div>
</div>

<div class="list-group-horizontal" *ngFor="let c of countryList">
    <a [routerLink]="['/news', c.name, c.code]" class="list-group-item list-group-item-action d-flex justify-content-between">
        <h5>{{c.name}}</h5>
        <img [src]="c.flag" alt="flag not found" style="height: 40px;">
    </a>
</div>
